<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.redcircle">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Util.MyApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RedCircle"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".Activity.PostCommentActivity"></activity>
        <activity android:name=".Activity.SettingsActivity" />
        <activity android:name=".Activity.AlbumTrackActivity" />
        <activity android:name=".Activity.SponsorDetailActivity" />
        <activity android:name=".Activity.SongPostActivity" />
        <activity android:name=".Activity.LiveSongActivity" />
        <activity android:name=".Activity.TopListActivity" />
        <activity android:name=".Activity.MatchDetailActivity" />
        <activity android:name=".Activity.MusicListActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.MatchActivity" />
        <activity android:name=".Activity.FirstSettingActivity" />
        <activity android:name=".Activity.ChatListActivity" />
        <activity
            android:name=".Activity.SongActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.PostActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".Activity.ConnectUserActivity" />
        <activity android:name=".Activity.ChatActivity" />
        <activity android:name=".Activity.UserProfileActivity" />
        <activity android:name=".Activity.ImagePickerActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.MainActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RedCircle.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
            <!-- cache directory file provider paths -->
        </provider>
    </application>

</manifest>